:root {
  --main-color: #2196f3;
  --p-color: #777474;
  --main-radius: 6px;
  --transition-duration: 0.3s;
  --line-heigth: 1.8;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 0 15px;
  width: 1170;
  margin: auto;
}

@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
.heading {
  color: var(--main-color);
  font-size: 35px;
  margin: 0 0 20px;
  text-align: center;
}
@media (max-width: 767px) {
  /* Medium Devices => Tablets */
  .heading {
    font-size: 25px;
  }
}
.section {
  padding: 50px 0;
}
/* Start Header */
.header {
  background-image: url("../Images/header.jpg");
  background-size: cover;
  min-height: 400px;
  position: relative;
}
.header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
}
.header .container {
  padding: 86px 0;
}

.header .container .heading {
  font-size: 45px;
}
.header .container .plans-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .container .plan {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.header .container .plan .one,
.header .container .plan .two {
  border: 2px solid var(--main-color);
  padding: 10px 25px;
  font-size: 26px;
  border-radius: var(--main-radius);
  color: var(--main-color);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
.header .container .plan .one {
  margin-right: 10px;
}
.header .container .order {
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: #00bcd4;
  font-size: 20px;
  font-weight: bold;
  border-radius: var(--main-radius);
  user-select: none;
  color: #fff;
}
@media (max-width: 767px) {
  /* Medium Devices => Tablets */
  .header .container .heading {
    font-size: 35px;
  }
  .header .container .plan {
    flex-direction: column;
    margin: 15px;
  }
  .header .container .plan .one,
  .header .container .plan .two {
    font-size: 20px;
  }
  .header .container .plan .one {
    margin: 0 0 10px;
  }
  .header .container .order {
    font-size: 18px;
  }
}
/* End Header */
/* Start Features */
.feature .feat-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
@media (max-width: 767px) {
  .feature .feat-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}
.feature .feat-container .feat-box {
  border: 1px solid var(--main-color);
  text-align: center;
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
.feature .feat-container .feat-box h3 {
  margin: 0px 0 15px;
  font-size: 22px;
  border-bottom: 1px solid var(--main-color);
  padding: 10px;
}
.feature .feat-container .feat-box p {
  color: var(--p-color);
  line-height: var(--line-heigth);
  margin: 0;
  padding: 0 10px 10px;
}
/* End Features */
/* Start About Us */
.about-us {
  background-color: #ddd;
}
.about-us h2 {
  margin: 0 0 15px;
}
.about-us p {
  line-height: var(--line-heigth);
  color: var(--p-color);
  margin: 0;
  padding: 0 0 20px;
}
@media (max-width: 767px) {
  .about-us p {
    text-align: center;
  }
}
/* End About Us */
/* Start Our Gallery */
.our-gallery .the-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .our-gallery .the-boxes {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}
.our-gallery .the-boxes .box {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  display: none;

  animation: myAnim 2s ease 0s 1 normal forwards,
    shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.our-gallery .the-boxes .box img {
  max-width: 100%;
}
.our-gallery .the-boxes .box h3 {
  margin: 5px 0;
  color: var(--main-color);
  padding-left: 5px;
}
.our-gallery .the-boxes .box p {
  margin: 0;
  color: var(--p-color);
  padding-left: 5px;
}

@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 0.5);
  }
}
@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* End Our Gallery */
/* Start Pricing Plan */
.our-pricing {
  background-color: #ddd;
}
.our-pricing .plans-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
@media (max-width: 767px) {
  .our-pricing .plans-box {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}

.our-pricing .plans-box .plan {
  border: 2px solid var(--main-color);
  text-align: center;
}
.our-pricing .plans-box .plan h3 {
  border-bottom: 2px solid var(--main-color);
  padding: 10px;
  margin: 0;
}
.our-pricing .plans-box .plan .price {
  font-weight: bold;
  margin: 10px;
  display: inline-block;
  font-size: 18px;
}
.our-pricing .plans-box .plan .plan-info {
  margin: 0;
  padding: 0;
}
.our-pricing .plans-box .plan .plan-info li {
  list-style: none;
  margin: 0 0 5px;
  color: var(--p-color);
}
/* End Pricing Plan */
/* Start Testimonials */
.testimonials {
  padding: 50px 0;
}
.testimonials .testimonial {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
@media (max-width: 575px) {
  .testimonials .testimonial {
    flex-direction: column;
  }
  .testimonials .testimonial .the-info {
    text-align: center;
  }
  .testimonials .testimonial img {
    margin: 0;
  }
}
.testimonials .one {
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}
.testimonials .two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .two .testimonial {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .testimonials .one {
    width: 100%;
  }
  .testimonials .two {
    flex-direction: column;
  }
  .testimonials .two .testimonial {
    width: 100%;
  }
  .testimonials .two .testimonial:first-child {
    margin-bottom: 15px;
  }
}
.testimonials .testimonial img {
  margin-right: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonials .testimonial .the-info h3 {
  color: var(--main-color);
  margin: 10px 0 5px;
}
.testimonials .testimonial .the-info p {
  margin: 0;
  color: var(--p-color);
  line-height: var(--line-heigth);
}
/* End Testimoniats */
/* Start Our Product */
.our-product {
  background-color: #ddd;
  padding: 50px 0;
}
.our-product .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.our-product .tabs li {
  list-style: none;
  padding: 10px 15px;
  background-color: #eee;
  cursor: pointer;
  border: 1px solid var(--main-color);
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
.our-product .tabs li.active,
.our-product .tabs li:hover {
  color: var(--main-color);
  background-color: #dde;
}
.our-product .content > div {
  background-color: #eee;
  padding: 10px;
  border-radius: var(--main-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
.our-product .content > div img {
  width: 250px;
  height: 150px;
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
.our-product .content > div p {
  line-height: var(--line-heigth);
  color: var(--p-color);
  margin: 8px 0 0;
  text-align: center;
}
.our-product .content > div:not(:first-child) {
  display: none;
}
/* End Our Product */
/* Start Footer */
footer {
  padding: 20px 0;
  /* margin: auto; */
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
footer span {
  color: var(--main-color);
}
/* End Footer */
